.appHeader {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 10vh;
  width: 96%;
  /* background-color: rgb(138, 90, 90); */
  box-shadow: 0px 1px rgb(224, 212, 212);
}

.appHeader > h1 {
  font-family: "Dancing Script", cursive;
}

.appHeader__buttons > CircularProgress {
  position: fixed;
}

.appHeader__buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 400px;
}

.custom-file-upload {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
  border-radius: 5px;
  margin: 10px;
  font-size: medium;
}

.custom-file-upload:hover {
  background-color: black;
  color: #738adb;
}

.appHeader__buttons > button {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
  border-radius: 5px;
  margin: 10px;
  background-color: white;
  height: 35px;
  font-size: medium;
}

.appHeader__buttons > button:hover {
  background-color: black;
  color: #738adb;
}
